<div class="d-sm-flex align-items-center justify-content-between-mb4">
    <h1 class="h3 mb-0 text-gray-800">Product View - {{currentId}}</h1>
  </div>
  <div class="container">
    <form [formGroup]="productForm">
      <div class="row">
        <div class="col-lg-6 mt-3">
          <label for="">Product Name</label>
          <input type="text" class="form-control form-error" formControlName="productname"  [disabled]="true" [ngClass]="{'form-error':productForm.get('productname').touched && productForm.get('productname').invalid}">
        </div>
        <div class="col-lg-6 mt-3">
          <label for="">Price</label>
          <input type="number" class="form-control" formControlName="productprice"  [disabled]="true" [ngClass]="{'form-error':productForm.get('productprice').touched && productForm.get('productprice').invalid}">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-3">
          <label for="">Discount</label>
          <input type="number" class="form-control" formControlName="discount"  [disabled]="true" [ngClass]="{'form-error':productForm.get('discount').touched && productForm.get('discount').invalid}">
        </div>
        <div class="col-lg-6 mt-3">
          <label for="">Type</label>
          <select name="" id="" class="form-control" formControlName="type"  [disabled]="true" [ngClass]="{'form-error':productForm.get('type').touched && productForm.get('type').invalid}">
            <option value="el">Electronic</option>
            <option value="ga">Gadget</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <br>