<br>
<h1>user List</h1><button type="button" class="btn btn-outline-success" routerLink="/userCreate" style="margin-left: 60rem;">Create New user</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Discount</th>
        <th scope="col">Gender</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of userList">
        <th scope="row">◉</th>
        <td>{{user.username}}</td>
        <td>{{user.userprice}}</td>
        <td>{{user.discount}}</td>
        <td>{{user.type}}</td>
        <td><button type="button" class="btn btn-info" [routerLink]="['/userEdit',user.id]">Edit</button>
          <button type="button" class="btn btn-info" style="margin-left: 10px;" [routerLink]="['/userView',user.id]">View</button>
          <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteRow(user)">Delete</button>&nbsp;
      </tr>
    </tbody>
  </table>