<div class="d-sm-flex align-items-center justify-content-between-mb4">
  <h1 class="h3 mt-3 text-gray-800">User View - {{currentId}}</h1>
</div>
<div class="container mt-3" style="margin-top: 10px; background-color: aqua;">
  <form [formGroup]="userForm">
    <div class="card mt-3">
      <div class="col-lg-6 mt-3">
        <label for="" style="font-weight: bold; color: red;">User Name</label>
        <input type="text" class="form-control form-error" formControlName="username" [ngClass]="{'form-error':userForm.get('username').touched && userForm.get('username').invalid}">
      </div>
      <div class="col-lg-6 mt-3" >
        <label for="" style="font-weight: bold; color: red;">Age</label>
        <input type="number" class="form-control" formControlName="userprice" [ngClass]="{'form-error':userForm.get('userprice').touched && userForm.get('userprice').invalid}">
      </div>
      <div class="col-lg-6 mt-3">
        <label for="" style="font-weight: bold; color: red;">Birth Year</label>
        <input type="number" class="form-control" formControlName="discount" [ngClass]="{'form-error':userForm.get('discount').touched && userForm.get('discount').invalid}">
      </div>
      <div class="col-lg-6 mt-3 mb-3">
        <label for="" style="font-weight: bold; color: red;">Gender</label>
        <select name="" id="" class="form-control" formControlName="type" [ngClass]="{'form-error':userForm.get('type').touched && userForm.get('type').invalid}">
          <option >Male</option>
          <option >Female</option>
        </select>
      </div>
    </div>
  </form>
</div>
<br>